@use "variables" as *;

@mixin green-bg {
  background-color: $green;
  color: white;
}

@mixin grey-bg {
  background-color: $grey;
}

@mixin main-font {
  font-family: "Lato", sans-serif;
}

html,
body,
#root,
.app {
  @include grey-bg;
  @include main-font;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header {
  @include green-bg;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 0 10px 0;

  img {
    width: 50px;
    height: 40px;
  }

  .header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin-left: 30px;

    h4 {
      margin: 0;
    }
  }

  .header-right {
    @extend .header-left;
    width: 25%;
    margin-right: 30px;

    h5 {
      margin: 0;
    }
  }
}

main {
  width: 95%;
  margin: auto;
}

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  position: relative;

  h3 {
    font-size: 20px;
    margin: 15px 0 10px 0;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

hr {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0.5px solid grey;
  border-radius: 5px;
  box-shadow: $shadow;
}

#price {
  color: $price;
}

footer {
  @include grey-bg;
  display: flex;
  justify-content: right;
  border-top: solid 0.5px grey;
  margin-top: 150px;
  padding: 50px;
  width: 100vw;
  height: 200px;

  a {
    float: right;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

@media only screen and (max-width: 600px) {
  
}