@use "variables" as *;

@mixin green-bg {
  background-color: $green;
  color: white;
}

@mixin grey-bg {
  background-color: $grey;
}

@mixin main-font {
  font-family: "Lato", sans-serif;
}

html,
body,
#root,
.App {
  @include grey-bg;
  @include main-font;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  width: 95%;
  margin: auto;
}

.header {
  @include green-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  img {
    width: 50px;
    height: 40px;
  }

  .header-left {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    margin-left: 30px;
  }

  .header-right {
    @extend .header-left;
    width: 250px;
    margin-right: 30px;
  }
}

#price {
  color: $price;
}

.footer {
  @include green-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 400px;
}
