@use "variables" as *;

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  height: 100%;
  width: 100%;
  position: fixed;
}

.modal-content {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: auto;
  min-width: 350px;
  max-width: 900px;
  height: 500px;

  .close {
    display: flex;
    justify-content: right;
    width: 100%;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
      width: 25px;
      height: 25px;
      padding: 0;
    }
  }

  h2 {
    color: $green;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 75%;

    input {
      margin: 3px;
    }

    .add-btn {
      width: 150px;
      margin: auto;
      margin-top: 10px;
      text-align: center;
    }
  }
}

.modalSearchBar {
  width: 75%;

  div {
    display: flex;

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: transparent;
    }

    button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid lightgray;
      border-left: transparent;
      background-color: white;
      max-width: 50px;
    }

    input:focus,
    button:focus {
      border-color: lightgray;
      box-shadow: none;
    }
  }

  .form-control:focus {
    border-color: none;
  }

  .modalSearchResults {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 2px;
    background-color: white;
    overflow-y: hidden;
    z-index: 1;
    position: absolute;

    .modalSearchItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.5px solid lightgrey;

      p {
        padding: 20px 10px 0 10px;
        color: black;
        width: auto;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        border: 0.5px solid grey;
        border-radius: 5px;
        height: 40px;
      }
    }
  }
}
