@use "variables" as *;

.searchBar {
  div {
    display: flex;

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: transparent;
      box-shadow: none;
    }

    button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid lightgray;
      border-left: transparent;
      background-color: white;
      box-shadow: none;
    }

    input:focus,
    button:focus {
      border-color: lightgray;
      box-shadow: none;
    }
  }

  .form-control:focus {
    border-color: none;
  }

  .searchResults {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin-top: 2px;
    background-color: white;
    box-shadow: $shadow;
    overflow-y: hidden;
    z-index: 1;
    position: absolute;

    a {
      padding: 20px 10px 0 10px;
      color: black;
      text-decoration: none;
      width: 100%;
    }

    a:hover {
      background-color: $grey;
    }
  }
}

#searchIcon {
  background-color: white;
  font-size: medium;
  cursor: default;
}

#closeBtn {
  @extend #searchIcon;
  cursor: pointer;
}

