@use "variables" as *;

.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 35px auto;

  img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    box-shadow: $shadow;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    max-height: 600px;
    width: 50%;
    margin: 20px 20px 20px 20px;
    padding: 20px;
  }

  .purchase {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 20%;

    h2 {
      text-align: center;
    }

    button {
      border: 1px solid grey;
      height: 35px;
      width: 100px;
    }

    .format-menu {
      padding: 0;

      p {
        margin: 0;
        padding: 10px;
        width: 100%;
      }
    }

    button:active {
      -webkit-box-shadow: inset 0px 0px 5px #d2d2d2;
      -moz-box-shadow: inset 0px 0px 5px #d2d2d2;
      box-shadow: inset 0px 0px 5px #d2d2d2;
      outline: none;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .show {
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (3, auto);
    width: 90%;
    
    img {
      grid-row: 1;
      margin: auto;
    }
    
    .book-info {
      grid-row: 1;
      grid-column: 2;
      text-align: left;
      width: 100%;
      margin: 20px;
    }
    
    .purchase {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      grid-row: 2;
      grid-column: 1 / span 2;
      margin: 20px auto;
      width: 80%;
      height: auto;
    }
  }
  
}

@media only screen and (max-width: 750px) {
  .show {
    img {
      grid-column: 1 / span 2;
      width: 70%;
      height: auto;
    }
    
    .book-info {
      grid-column: 1 / span 2;
      grid-row: 2;
      margin: 20px auto;
    }
    
    .purchase {
      grid-column: 1 / span 2;
      grid-row: 3;
    }
  }
}
