@use "variables" as *;

.show {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 15px;
  margin: auto;

  .book-info {
    display: flex;
    justify-content: space-between;
    width: 75%;

    img {
      width: 300px;
      height: 450px;
      object-fit: cover;
    }

    .book-text {
      @extend .book-info;
      flex-direction: column;
      width: 65%;
      max-height: 500px;
      margin: 20px 20px 20px 20px;
    }
  }

  .purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 5px;
    box-shadow: $shadow;
    height: 300px;
    width: 200px;

    button {
      border: 1px solid grey;
      border-radius: 5px;
      box-shadow: 1px 1px grey;
      height: 35px;
      width: 100px;
    }

    .format-menu {
      padding: 0;

      p {
        margin: 0;
        padding: 10px;
        width: 100%;
      }
    }

    .addToCart {
      background-color: $yellow;
    }

    button:active {
      -webkit-box-shadow: inset 0px 0px 5px #d2d2d2;
      -moz-box-shadow: inset 0px 0px 5px #d2d2d2;
      box-shadow: inset 0px 0px 5px #d2d2d2;
      outline: none;
    }
  }
}

@media only screen and (max-width: 850px) {
  .show {
    .book-info {
      width: 40%;
      padding-left: 2%;
      flex-direction: column;
    }

    .book-text {
      text-align: left;
      width: 80%;
      margin-left: 0;
      padding-left: 0;
      z-index: 1;

      hr {
        display: block;
      }

      #overview {
        border-top: solid 0.5px grey;
      }
    }

    .purchase {
      position: relative;
      z-index: 1;
      float: left;
      width: 35%;
    }
  }
}
