$green: #028574;
$grey: #f1f1f1;

@mixin green-bg {
    background-color: $green;
    color: white;
}

@mixin grey-bg {
    background-color: $grey;
}

@mixin main-font {
    font-family: 'Lato', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.app {
    @include grey-bg;
    @include main-font;
}

.header {
    @include green-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

    img {
        width: 50px;
        height: 40px;
    }

    div {
        display: flex;
        flex-direction: row;
        width: 130px;
        align-items: center;
        justify-content: space-between;
    }
}