$green: #028574;
$grey: #f1f1f1;
$yellow: #f6f666;
$price: #a80101;

@mixin green-bg {
  background-color: $green;
  color: white;
}

@mixin grey-bg {
  background-color: $grey;
}

@mixin main-font {
  font-family: "Lato", sans-serif;
}

html,
body {
  @include grey-bg;
  @include main-font;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  padding: 15px;
}

.header {
  @include green-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 20px;

  img {
    width: 50px;
    height: 40px;
  }

  div {
    display: flex;
    flex-direction: row;
    width: 130px;
    align-items: center;
    justify-content: space-between;
  }
}

.library {
  display: flex;
  flex-wrap: wrap;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 10px;
  width: 200px;
  height: 350px;

  img {
    width: 150px;
    min-height: 225px;
    object-fit: cover;
  }

  h3,
  h4,
  p,
  a {
    margin: 5px auto 5px auto;
    text-decoration: none;
    color: black;
  }

  div {
    text-align: left;
  }
}

#price {
  color: $price;
}

.show {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;

  img {
    width: 300px;
    height: 450px;
    object-fit: cover;
  }

  .bookInfo {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: space-around;
  }

  .purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.5px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px grey;
    height: 300px;
    width: 200px;

    button {
      background-color: $yellow;
      border: 1px solid grey;
      border-radius: 5px;
      box-shadow: 1px 1px grey;
      height: 35px;
      width: 100px;
    }

    button:active {
      -webkit-box-shadow: inset 0px 0px 5px #d2d2d2;
      -moz-box-shadow: inset 0px 0px 5px #d2d2d2;
      box-shadow: inset 0px 0px 5px #d2d2d2;
      outline: none;
    }
  }
}

footer {
  height: 400px;
  width: 100%;
  margin: 100px 0 0 0;
  background-color: $green;
}
